.docs_section {
  padding: 4rem 2rem 2rem;
  display: flex;
  gap: 2rem;
  position: relative;
}

.getting_started {
  margin-top: .8rem;
}

.request_box {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.request_box > span {
  font-size: 1.1rem;
  font-weight: 600;
}

.url_box {
  flex-grow: 1;
  font-size: 14px;
  overflow-x: auto;
  white-space: nowrap;
}

.docs_table_nav {
  position: sticky;
  top: 4rem;
  left: 0;
  height: max-content;
  width: max-content;
  min-width: 220px;
}

.doc_nav_wrap {
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.docs_other_info {
  padding-block: 3rem;
}

.docs_endpoint_items {
  display: grid;
  gap: 2rem;
}

.docs_right_col {
  flex: 65%;
  max-width: 65%;
}

.docs_error_message {
  margin-top: 5rem;
}
.docs_objects {
  margin-top: 5rem;
}

.docs_obj_items {
  display: grid;
  gap: 2rem;
}

.copyIcon {
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  border: 1.5px solid;
}

.table_row {
  width: 60px;
}

@media screen and (min-width: 508px) {
  .table_row {
    width: 110px;
  }
}
@media screen and (min-width: 768px) {
  .copyIcon {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid;
  }
}

@media screen and (min-width: 1100px) {
  .table_row {
    width: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .docs_right_col {
    flex: 70%;
    max-width: 70%;
  }
  .docs_section {
    padding: 4rem 1rem 2rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .docs_table_nav {
    display: none;
  }
  .docs_section {
    padding: 3rem 2rem 2rem;
  }
  .docs_right_col {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .docs_section {
    padding: 3rem 1rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  .docs_section {
    padding: 3rem 0rem 2rem;
  }
  .request_box {
    padding: 0.5rem 1rem;
  }
  .request_box > span {
    font-size: 1rem;
  }
  .table > tbody > tr > td {
    font-size: 13px;
  }
  .table > thead > tr > th {
    font-size: 13px;
  }
  .table {
    word-break: break-word;
  }
}
